@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75); /* paragraph */
    --veryLightGray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--veryLightGray);   
}

.container {
    width: 327px;
    margin: 87px auto 40px;
    border-radius: 8px;
    overflow: hidden;

}

div {
    background-color: var(--color-card);
    width: 100%;
    height: 440px;
    padding: 48px;
}

.sedans {
    --color-card: var(--brightOrange);
}

.suvs {
    --color-card: var(--darkCyan);
}

.luxury {
    --color-card: var(--veryDarkCyan);
}

img {
    margin-bottom: 38px;
}

h2 {
    color: var(--veryLightGray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 34px;
    margin-bottom: 30px;
}

p {
    color: var(--transparentWhite);
    line-height: 25px;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: var(--color-card);
    padding: 15px 30px;
    border-radius: 45px;
    background: var(--veryLightGray);
    border: 3px solid var(--veryLightGray);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover, .btn:focus-within {
    background: transparent;
    color: var(--veryLightGray);
}

.btn:focus-within {
    outline: 1px solid var(--veryLightGray);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 944px) {
    .container {
        width: 920px;
        margin-top: 170px;
        display: flex;
    }

    div {
        height: 500px;
    }

    p {
        margin-bottom: 80px;
    }
}
